body {
	background: #5d9b9b;
	color: #fff;
}
 /*color para el fondo*/

*{
	margin:30;
	padding:5;
}
/*selector universal, modifica todo*/

h1{
	font-size: 60px;
}

h2{
	font-size: 40px;
}

p{
	font-size: 30px;
}

li{
	font-size: 20px;
	color: #fdbcb4;
	
}
div{
	width:500px;
	background: #fdfd96;
	
}



